@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/*/ General rules  /*/
:root {
  --primary-color: #b32557;
  --white: #ffffff;
  --white-opacity: #ffffffc1;
  --secondary-color: #ffbcd8;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  min-height: 100vh;
  background-image: url(assets/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  cursor: default;
}
h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--white);
}
h1,
h2 {
  font-size: 4rem;
  line-height: 4rem;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
li {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  list-style: none;
}
a {
  text-decoration: none;
}

/*/ Nav section  /*/

main {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

nav {
  padding: 2rem 1rem;
  overflow: hidden;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav_links > div li:not(:first-child) {
  display: none;
}
.nav_links img {
  max-width: 50px;
}

.nav_links li {
  position: relative;
  padding-bottom: 10px;
}

.nav_links li::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--white);
  transition: 0.3s;
}
.nav_links > div li:first-child:hover::after {
  width: 0;
}

.nav_links li:hover::after {
  width: 100%;
}

/*/ Title section  /*/
.title_section {
  flex: 1;
  width: 100%;
  padding: 2.5rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*/ button  /*/
.title_section button {
  display: flex;
  align-items: center;
  color: var(--white);
  background-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  max-width: fit-content;
  margin-block: 4rem;
  outline: none;
  border: 2px solid var(--white);
  cursor: pointer;
}

.title_section a {
  display: flex;
  align-items: center;
  color: var(--white);
  background: transparent;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.title_section a:focus {
  outline: none;
}

.title_section a:hover {
  transition: 0.5s;
}

.title_section a span:nth-child(2) {
  transition: 0.5s;
}

.title_section a:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 1.5rem;
}

.title_section span:nth-child(2) {
  width: 20px;
  margin-left: 0.6rem;
}
.title_section svg {
  display: flex;
  align-items: center;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.arrow:hover path.three {
  animation: color_anim 1s infinite 0.2s;
  transform: translateX(-5%);
}

.arrow:hover path.one {
  transform: translateX(5%);
  animation: color_anim 1s infinite 0.6s;
}

.arrow:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: var(--secondary-color);
  }
  100% {
    fill: white;
  }
}

/*/ footer  /*/
footer {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
}

footer .scroll_bottom {
  display: flex;
  text-transform: uppercase;
  transform: translate(-9%, -25px) rotate(-90deg);
  animation: scroll-down 2s linear infinite;
}
footer .scroll_bottom a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

footer .scroll_bottom span {
  display: block;
  font-size: 1.2rem;
  transform: rotate(90deg);
}

@keyframes scroll-down {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 10px;
  }
  100% {
    translate: 0 0;
  }
}
footer .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
footer .socials a {
  padding: 6px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}
footer .socials a:hover {
  box-shadow: 0px 5px 10px var(--white-opacity);
  transform: translateY(-7px);
}

/* responsive  */
@media (width > 540px) {
  h1,
  h2 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}

@media (width > 768px) {
  .nav_links .logo li:not(:first-child) {
    display: block;
  }

  .nav_links div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  h1,
  h2 {
    font-size: 7rem;
    line-height: 7rem;
  }
}
